body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #b1d1f0;
}

#container {
    display: flex;
    height: 100vh;
}

#graph-section {
    flex: 2;
    padding: 20px;
    border-right: 1px solid #000000;
}

#graph {
    width: 100%;
    height: 85%;
    background-color: white;
    border: 1px solid #0b3500;
    border-radius: 10px;
}

#controls-section {
    flex: 1;
    padding: 20px;
}

h2 {
    margin-top: 20px;
}

input[type=range] {
    width: 100%;
}

button {
    padding: 10px 15px;
    margin: 5px 0;
    width: 48%;
    border: none;
    border-radius: 5px;
    background: rgb(68, 228, 167);
    color: rgb(0, 0, 0);
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background: rgb(0, 194, 120);
}

#stats {
    background: white;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
}
